body {
	margin: var(--rhythm) 0;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
main {
	max-width: 40rem;
	padding: 1rem;
}
webcare-webshare {
	display: block;
}

.ticket-title {
	font-family: Saira Extra Condensed, system-ui, sans-serif;
	font-size: var(--step--1);
	line-height: 1.2;
	margin: 0;
}
.ticket-title img {
	display: inline;
	width: auto;
	height: 1em;
	margin-bottom: -.15em;
}
.ticket-title b {
	display: block;
}
.ticket-title b:first-child:not(:last-child) {
	font-size: 50%;
}
.ticket-title b:last-child {
	margin-top: .25em;
	text-transform: uppercase;
}
.ticket-preview {
	margin: 0 -1rem;
}
.ticket-preview browser-window img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
@media (min-width: 50em) { /* 800px */
	webcare-webshare,
	.ticket-preview {
		margin-inline: -10vw;
	}
}
.ticket-description {
	max-width: 40em;
	margin: 0 auto;
}
.ticket-description p {
	font-size: 1.5em;
}
.ticket-share {
	display: block;
	word-break: break-all;
	background-color: #000;
	padding: 1rem;
	border-radius: .25em;
	margin: 0 -1rem;
}
