/* @link https://utopia.fyi/type/calculator?c=320,56,1.2,700,123,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
	--step--2: clamp(2.4306rem, 0.3343rem + 10.4816vw, 4.92rem);
	--step--1: clamp(2.9169rem, 0.1942rem + 13.6132vw, 6.15rem);
	--step-0: clamp(3.5rem, -0.0263rem + 17.6316vw, 7.6875rem);
	--rhythm: 6rem; /* 96px /16 */
}
* {
	box-sizing: border-box;
}
html {
	font-family: system-ui, sans-serif;
	color: #fff;
	background-color: #222;
}
h2 {
	margin-block-start: var(--rhythm);
}
body {
	margin: 0 auto;
	padding: 0 .5em;
	text-align: center;
}
main,
footer {
	margin-inline: auto;
	margin-block-end: var(--rhythm);
	max-width: 27rem; /* 432px /16 */
}
main {
	font-size: 1.125em; /* 18px /16 */
}
a[href] {
	color: inherit;
}
a[href^="mailto:"] {
	white-space: nowrap;
}
a[href^="mailto:"]:before {
	display: inline-block;
	content: "✉️";
	margin-inline-end: .3em;
	text-decoration: none;
}
p {
	margin-inline: auto;
	text-align: left;
	line-height: 1.5;
}
b, strong {
	font-weight: 600;
}

input,
button {
	font: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}