/* @link https://utopia.fyi/type/calculator?c=320,56,1.2,700,123,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
	--step-0: clamp(3.5rem, -0.0263rem + 17.6316vw, 7.6875rem);
}
html {
	font-family: system-ui, sans-serif;
	color: #fff;
	padding-bottom: 110vw;
	background: #222 url(/public/mascots.webp);
	background-size: 100%;
	background-position: 50% 100%;
	background-repeat: no-repeat;
}
h2 {
	margin-block-start: 3em;
}
body {
	margin: 0 auto;
	max-width: 43.125rem; /* 690px /16 */
	text-align: center;
}
main,
footer {
	font-size: 1.125em; /* 18px /16 */
	margin-block-end: 6em;
}
a[href] {
	color: inherit;
}
a[href^="mailto:"] {
	white-space: nowrap;
}
a[href^="mailto:"]:before {
	display: inline-block;
	content: "✉️";
	margin-inline-end: .3em;
	text-decoration: none;
}
p {
	margin-inline: auto;
	max-width: 24em;
	text-align: left;
}
b, strong {
	font-weight: 600;
}

input,
button {
	font: inherit;
}