:root {
	/* @link https://utopia.fyi/type/calculator?c=320,56,1.2,700,123,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--step--2: clamp(2.4306em, 0.3343em + 10.4816vw, 4.92em);
	--step--1: clamp(2.9169em, 0.1942em + 13.6132vw, 6.15em);
	--step-0: clamp(3.5em, -0.0263em + 17.6316vw, 7.6875em);
	--rhythm: 2rem; /* 32px /16 */
	--page-margin: .5rem;
}
@media (min-width: 37.5em) { /* 600px */
	:root {
		--rhythm: 6rem; /* 96px /16 */
	}
}
.rhythm.rhythm {
	margin-block-end: var(--rhythm);
}

* {
	box-sizing: border-box;
}
html {
	font-family: system-ui, sans-serif;
	color: #fff;
	background-color: #222;
}
:first-child {
	margin-top: 0;
}
:last-child {
	margin-bottom: 0;
}

h1,
h2,
h3 {
	font-family: Saira Extra Condensed, system-ui, sans-serif;
	font-weight: 600;
	line-height: 1.2;
	margin-block-start: var(--rhythm);
}
h1 {
	margin-block-start: 0;
	font-size: 4em;
	line-height: 1;
	text-transform: uppercase;
}
@media (min-width: 40em) { /* 640px */
	h1 {
		font-size: 7em;
		margin-inline: -16vw;
	}
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 1.75em;
}

body {
	margin: 0 auto;
	padding: 0 var(--page-margin);
	text-align: center;
}
main,
footer {
	margin-inline: auto;
	max-width: 27rem; /* 432px /16 */
}
main {
	margin-block-end: var(--rhythm);
	font-size: 1.125em; /* 18px /16 */
}
footer {
	margin-block-end: 6rem;
}
a[href] {
	color: inherit;
}
a[href^="mailto:"],
[data-icon] {
	white-space: nowrap;
}
a[href^="mailto:"]:before,
[data-icon]:before {
	display: inline-block;
	content: "✉️";
	margin-inline-end: .3em;
	text-decoration: none;
}
[data-icon]:before {
	content: attr(data-icon);
}
p {
	margin-inline: auto;
	text-align: left;
	line-height: 1.5;
}
b, strong {
	font-weight: 600;
}

input,
button {
	font: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
li {
	text-align: left;
	line-height: 1.5;
	margin-block: .5em;
}
abbr {
	text-decoration: none;
}
:target {
	scroll-margin-top: 2em;
}
del {
	text-decoration-color: red;
}

blockquote {
	font-style: italic;
	margin-left: 0;
	margin-right: 0;
}

.inline {
	list-style: "";
	display: flex;
	flex-wrap: wrap;
	gap: .25em 1em;
	padding: 0;
}
.inline > li {
	margin: 0;
}

dl {
	display: grid;
	gap: .5em;
	grid-template-columns: auto 1fr;
	text-align: left;
}
dd {
	margin: 0;
}

table {
	border-spacing: 0;
}
table th,
table td {
	text-align: left;
	line-height: 1.5;
	padding: .75em .5em;
	border-bottom: 1px solid #666;
}
.nowrap {
	white-space: nowrap;
}

.photo-list {
	list-style: "";
	padding: 0;
}
.photo-list li > a[href] {
	display: block;
	padding: .5rem;
	margin-left: -.5rem;
	margin-right: -.5rem;
}
.photo-list li > a[href]:is(:hover, :focus) {
	background-color: #333;
}
.photo-list .photo-list-hed + * {
	margin-block-start: 1em;
}
.photo-list.large a[href] {
	text-decoration: none;
}
.photo-list .photo-list-hed {
	font-size: 2em;
	gap: .25em;
	font-family: Saira Extra Condensed, system-ui, sans-serif;
	display: flex;
	align-items: center;
	text-decoration: none;
	flex-wrap: wrap;
}
.photo-list.large .photo-list-hed {
	font-size: 3em;
	font-weight: 600;
	gap: .5em;
}